.playlist-index {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  // text-transform: uppercase;
  color: white;
  background-image: linear-gradient(black, #863CD6);
}

.playlist-item h2 {
  font-family: 'Heebo', sans-serif;
  font-weight: lighter;
  padding: 7px;
}

.playlist-spacer {
  height: 50px;
}

.playlist-body {
  border: white;
  border-style: dashed;
  border-width: 1px;
  padding: 7px 7px 1px 7px;
}