.playlist-index-container {
  background-image: linear-gradient(black, #863CD6);
  height: 100vh;
}
.playlist-index {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 30px;
  color: white;
  justify-content: space-evenly;

  // background-image: linear-gradient(black, #863CD6);
  // height: 100%;
}

.playlist-item h2 {
  font-family: 'Heebo', sans-serif;
  font-weight: lighter;
  text-align: center;
  padding: 5%;
  // align-items: center;
}

.playlist-spacer {
  height: 50px;
  width: 50px;
}

.playlist-body {
  border: white;
  border-style: dashed;
  border-width: 1px;
  padding: 7px 7px 1px 7px;
}