.profile-container {
    background-image: linear-gradient(black, #863CD6);
    width: 100vw;
    height: 80vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-gretting {
    font-size: 20px;
    margin-left: 3.5%;
    font-family: 'Heebo', sans-serif;
    font-weight: bolder;
    color:#FDB8FF;
    text-shadow:2px 2px 0px #528ecc;
}

.profile-follows {
    font-size: 38px;
    margin-left: 3.5%;
    margin-top: 3%;
    font-family: 'Heebo', sans-serif;
    font-weight: bolder;
    color:#FDB8FF;
    text-shadow:2px 2px 0px #528ecc;
}

.followed-playlists {
    font-size: 25px;
    margin-left: 3.5%;
    margin-top: 3%;
    font-family: 'Heebo', sans-serif;
    color:white;
    text-shadow: 1px 1px 0px #528ecc;
}

.followed-playlist-item {
    margin: 15%;
}

a:link {
    color: white;
}

a:visited {
    color :#FDB8FF;
}

a:hover {
    color: white;
}

a:active {
    color: black;
}